/* Use border-box box sizing universally */
html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* for debugging */
/* body > div { */
/*   border: 2px solid red; */
/* } */

/* .content-body > div { */
/*   border: 2px solid green; */
/* } */

/* .content-body > div > div { */
/*   border: 2px solid blue; */
/* } */

/* ///////////////////////// */

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  display:flex;
  flex-direction: column;
}

.header {
  display:flex;
  justify-content: space-between;
  padding: 16px 15%;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  font-weight: 1000;
  color: #f9faf8;
}

.header > ul.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header > ul.nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.content-body{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-body > div {
  display: flex;
  padding: 64px 15%;
}

.intro {
  background-color: #1f2937;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.intro-text-wrapper {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  max-width: 70ch;
  gap: 16px;
  flex-shrink: 1;
}

.intro-title{
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.intro-text{
  font-size: 16px;
  color: #e5e7eb;
}

.intro-img-wrapper {
  height: 250px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.sign-up-but {
  border: none;
  text-decoration:none;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 1000;
  padding: 0.5em 2em;
  border-radius: 6px;
}

.information {
  padding-top: 32px;
  flex-direction: column;
  gap: 48px;
}

.info-title{
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-card-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-card {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.info-card-img {
  border: 4px solid #3882f6;
  border-radius: 12px;
  height:180px;
  width:100%;
}

.info-card-text {
  font-size: 18px;
  font-weight:600;
  color: dimgray;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  gap: 18px;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic; 
  text-align: center;
}

.quote-author {
  color: #1f2937;
  font-size: 24px;
  font-weight: 900;
  text-align: end;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.su{
  background-color: #3882f6;
  flex: 1;
  display:flex;
  justify-content: space-between;
  padding: 24px 10%;
  border-radius: 8px;
}

.su .sign-up-but {
  border: 2px solid #f9faf8;
}

.footer{
  padding: 2em 15%;
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
}
